<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<title>{% block title %} some data {% endblock %}</title>

<ul>
  <li><a href="{% url 'home' %}">Home</a></li>
 
  <a href="/accounts/logout/?next=/accounts/login/">
  <button class="button_logout" >Log Out</button> 
  </a>
</ul>

<script type = "text/javascript" src = "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" ></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="{% static 'js/alertify.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/alertify.core.css' %}" />
<link rel="stylesheet" href="{% static 'js/alertify.default.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <div class="form-wrapper">
      <form action="javascript:funcall()">
        <input type="text" id="search" placeholder="Search for..." required>
        <input class="button_submit" type="submit" name="Search">
      </form>
    </div>

<script type="text/javascript">
  function funcall(){
  var a= document.getElementById("search").value;
  window.location = "/home/logic/?id="+a;}
</script>

    <a class="" href="{% url 'viewcart' %}">
        <div class="image">
           <img src="{% static "images/cart.png"%}" style="float: right;" width="128" height="128" align="center">
        </div>
    </a>
</head>
<body>
{% block main %}{% endblock %}       
{% block push %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
<html>
<head>
 
 