{% extends "mainapp/base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript">
      function fun(data){
      alertify.confirm("Remove Item From Cart ?", function (e) {
      if (e) {
          $.ajax({
          url: 'del?id='+data.toString(),
          type: 'get',
          success: function(data) {
            },
          failure: function(data) { 
                  alert('Got an error dude');
            },
          complete: function () {
          window.location.reload() 
             },
     });

}
})
}
</script>
<table>
  <caption>Items In Cart</caption>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Remove</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
   
  {% for x in cart %}
     <tr>
      <td>  <img src="{% static image.next %}" alt="Mountain View" width="30" height="30" align="center"></td>
      <td>{{ x }}</td>
      <td><img src="{% static 'shopping_cart/cancel.png' %}" onclick="javascript:fun('{{ x }}')" width="30" height="30"></a>
      </td>
      <td>{{ count.next }}</td>
      <td>{{ price.next }}</td>
      </tr>
      
  {% endfor %}
</tbody>

<tfoot>
    <tr>
      <th colspan="4">Grand Total</th>
      <th>{{ total }}</th>
    </tr>
</tfoot>
</table>
    </br>
     
  {% if total > 0 %}
    <a href="{% url 'charge'%}?id={{ total }}">
        <button  onclick="">Charge Me!</button> 
    </a>
  {% endif %}  
{% endblock %}