{% extends "mainapp/base.html" %}
{% block title %}{{ t }}{% endblock %}
{% block content %}
{% load static %}
<table>
  <caption>Items In Cart</caption>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Remove</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
   
  {% for x in cart %}
     <tr>
      <td>  <img src="{% static image.next %}" alt="Mountain View" width="30" height="30" align="center"></td>
      <td>{{ x }}</td>
      <td><img src="{% static 'shopping_cart/cancel.png' %}" onclick="javascript:fun('{{ x }}')" width="30" height="30"></a>
      </td>
      <td>{{ price.next }}</td>
      </tr>
      
  {% endfor %}
</tbody>

<tfoot>
    <tr>
      <th colspan="3">Grand Total</th>
      <th>{{ total }}</th>
    </tr>
</tfoot>
</table>
    </br>
     <a href="{% url 'charge'%}?id={{ total }}">
        <button style="float: center;" onclick="">Charge Me!</button> 
     </a>
       <script type="text/javascript">
          function fun(data){
            alertify.confirm("Remove Item From Cart ?", function (e) {
              if (e) {
                  $.ajax({
                  url: 'del?id='+data.toString(),
                  type: 'get',
                  complete: function () {
                      window.location.reload() 
                    },});
                } 
window.location.reload() 
});
}
</script>
{% endblock %}